.App-header {
  height: 100vh;
  padding: 100px 0;
  background-color: #d51cdb;
  text-align: center;
}

.App-title {
  color: #6be931;
  font-size: 40px;
  font-display: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif
}

.falling-word {
  animation: slide 5s linear infinite
}

@keyframes slide {
  from {
    margin-top: -100%
  }
  to {
    margin-top: 100%
  }
}
