html {
  background-color: #ed0bf5;
}

.App-header {
  text-align: center;
}

.App-title {
  color: #6be931;
  font-size: 40px;
  font-display: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.dragon {
  animation: zoom 4s 3;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(4, 4);
  }
  100% {
    transform: scale(1, 1);
  }
}

.explanation {
  margin: 0 auto;
  max-width: 300px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.asl-sign {
  padding-bottom: 20px;
}

.fade-in {
  animation: fadeIn 14s linear infinite;
  -webkit-animation: fadeIn linear 14s;
  -moz-animation: fadeIn linear 14s;
  -o-animation: fadeIn linear 14s;
  -ms-animation: fadeIn linear 14s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.falling-word {
  animation: slide 5s ease-in infinite;
}

@keyframes slide {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}
